.chefs{
  padding:80px 5%;
  background:#111827;
  color:white;
  text-align:center;
}

.chefs h1{
  font-size:50px;
  margin-bottom:10px;
}

.chefs p{
  color:#9ca3af;
  margin-bottom:40px;
}

.grid{
  display:grid;
  grid-template-columns:
    repeat(auto-fit,minmax(280px,1fr));
  gap:30px;
}

.card{
  background:#1f2937;
  padding:30px;
  border-radius:24px;
  transition:0.3s;
}

.card:hover{
  transform:translateY(-10px);
}

.card img{
  width:120px;
  height:120px;
  border-radius:50%;
  object-fit:cover;
  margin-bottom:20px;
}

.card h2{
  margin-bottom:10px;
}

.card p{
  color:#d1d5db;
  margin-bottom:20px;
}

.stats{
  display:flex;
  justify-content:space-between;
  margin-bottom:20px;
  font-size:14px;
}

.card button{
  border:none;
  padding:14px 24px;
  border-radius:14px;
  background:#ff6b35;
  color:white;
  cursor:pointer;
}