.grocery{

  margin-top:60px;

  padding:30px;

  border-radius:24px;

  background:#0f172a;

  color:white;

}

.grocery input{

  width:100%;

  padding:16px;

  border:none;

  border-radius:14px;

  margin-top:20px;

  background:#1e293b;

  color:white;

}

.grocery button{

  margin-top:20px;

  padding:14px 20px;

  border:none;

  border-radius:14px;

  background:orange;

  color:white;

  cursor:pointer;

}

.list{

  margin-top:30px;

  display:grid;

  gap:15px;

}

.item{

  background:#1e293b;

  padding:18px;

  border-radius:14px;

}