.upload{
  padding:80px 5%;
  background:#0f172a;
  color:white;
  text-align:center;
}

.upload h1{
  font-size:50px;
  margin-bottom:10px;
}

.upload p{
  color:#9ca3af;
  margin-bottom:30px;
}

.uploadBox{
  display:inline-block;
  padding:18px 30px;
  background:#ff6b35;
  border-radius:16px;
  cursor:pointer;
  font-size:18px;
}

.preview{
  margin-top:40px;
}

.preview img{
  width:350px;
  max-width:100%;
  border-radius:20px;
  object-fit:cover;
  box-shadow:
    0 10px 40px rgba(0,0,0,0.4);
}