.banner{

  position:relative;

  margin-top:80px;

  border-radius:30px;

  overflow:hidden;

  height:450px;

}

.banner img{

  width:100%;

  height:100%;

  object-fit:cover;

}

.content{

  position:absolute;

  top:50%;

  left:60px;

  transform:translateY(-50%);

  color:white;

}

.content span{

  background:orange;

  padding:8px 15px;

  border-radius:20px;

}

.content h2{

  font-size:60px;

  margin:20px 0;

}

.content p{

  font-size:20px;

  max-width:500px;

}

.content button{

  margin-top:20px;

  padding:15px 30px;

  border:none;

  border-radius:30px;

  background:orange;

  color:white;

  cursor:pointer;

}